/*==============================================/
|                    MAIN.CSS                   |
|       Copyright 2018 James D. Bartlett III    |
/==============================================*/


/*----------------------------------------------
                      TAGS
-----------------------------------------------*/

/* 100% max width catch-all, from Lesson 12.10 */
img, embed, object, video {
  max-width: 100%;
}

body {
  padding-top: 4rem;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: thin;
  font-size: 14px;
  color: #FFF;
  background-color: #030f13;

}

header {

}

main {
  margin: 5px;
}

section {

}

h1, h2, h3, h4, h5 {
  width: 100%;
}

footer {

}

p {
  padding: 5px;
}


/*----------------------------------------------
                    CLASSES
-----------------------------------------------*/

.header {
  width: 100%;
}

.banner-img {
  width:100%;

}

.header-inner {
  width: 100%;

}

.title-full {
  font-style: italic;
  font-weight: 100;
}

.name-full {
  font-weight: 400;
}

.nav {

}

.nav-inner {

}

.section-1 {

}

.section-2 {

}

.container {

}

.container-fluid {

}

.row {

}

.col {

}

.box-icon {
  -webkit-filter: invert(100%);
}

.box-title {
  text-decoration: underline;
}

.footer {

}

.footer-inner {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}



/*----------------------------------------------
                    IDs
-----------------------------------------------*/

#banner {

}

#header-text {
  white-space: nowrap;
  text-align: right;
  padding: 10px;
}

#override-bootstrap #name-full {

}

#menu {

}
