/*==============================================/
|                    MAIN.CSS                   |
|       Copyright 2018 James D. Bartlett III    |
/==============================================*/


/*----------------------------------------------
                      TAGS
-----------------------------------------------*/

/* 100% max width catch-all, from Lesson 12.10 */
img, embed, object, video {
  max-width: 100%;
}

/* touch target catch-all, from Lesson 12.13 */
nav a, button {
  min-height: 48px;
  min-width: 48px;
}

body {
  margin:0px;
  font-family: monospace;
  font-size: 14px;
  color: #000;
}

header {

}

main {
  margin: 10px;
}

section {

}

h1, h2, h3, h4, h5 {
  padding: 10px;
}

footer {

}


/*----------------------------------------------
                    CLASSES
-----------------------------------------------*/

.header {
  width: 100%;
}

.header-inner {
  width: 100%;
}

.nav {

}

.nav-inner {

}

.section-1 {

}

.section-2 {

}

.container {

}

.container-fluid {

}

.row {

}

.col {

}

.footer {

}

.footer-inner {

}



/*----------------------------------------------
                    IDs
-----------------------------------------------*/

#banner {

}

#menu {

}
