/* 100% max width catch-all, from Lesson 12.10 */
img, embed, object, video {
  max-width: 100%;
}

/* touch target catch-all, from Lesson 12.13 */
nav a, button {
  min-height: 48px;
  min-width: 48px;
}

.header-inner {
  width: 100%;
}
